{% extends 'quizes/base.html' %}

{% block content %}
{% if quiz is not None %}
<div class="container" style="text-align: center; margin-top: 5%;">
    <h2 id="quiz-name">{{ quiz.name }}</h2>
    <p id="number-of-questions">Quuestions: {{ quiz.number_of_questions }}</p>
    <p id="duration">Duration: {{ quiz.time }} minutes</p>
    <p id="required-score">Required Score: 80%</p>
    <p>Difficulty: {{ quiz.difficulty }}</p>
    <button id="start-quiz" class="btn btn-primary">Click Here to Start Quiz</button>
</div>

{% endif %}
{% endblock %}
